<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.orp"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorator="template">
    <head>
        <title>profil</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body layout:fragment="content" style="background-color: wheat; margin-top: 70px">
        <div>PROFIL DU CONSEILLER</div>
    </body>
</html>
